<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    {{>csslinks}}


</head>

<body>
    <main class=" min-vh-100  px-sm-0   ">
        {{>nav}}
        <section class="container row d-flex align-items-center w-100 m-auto mt-5 mb-4">
            
            <div class="banner-left col-md-6 col-12  ">
                <figure>
                    <img src="images/man.png" alt="Rahul" class=" img-fluid"> 
                </figure>
            </div>
            <div class="banner-right col-md-6 col-12 pe-md-5  mb-3 ">
                <p>welcome to weather app</p>
                <h1 class=" mb-4">i am  <span class="blue-text">web developer</span>  </h1>
                <a href="#" class="primary-btn text-decoration-none btn btn-bg-white border border-1 px-4 py-1 ">About Me</a>
            </div>
        </section>
        {{>footer}}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>